
*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  line-height: 1.2;
  font-size: 1em;
}
div.wrapper{
    overflow: hidden;
}
div.wrapper div.empForm {
    float: left;
}
div.wrapper div.employees{
    float: right;
}
form.appForm{
  width: 400px;
  margin: 20px 50px 0 20px;

}
form.appForm table{
  width: 100%;
}
form.appForm fieldset{
  padding: 10px;
  background: #f1f1f1;
  border: solid 1px #e4e4e4;
}
form.appForm legend{
  padding: 5px;
  background: #e4e4e4;
  font: 1em 'Arial , Helvetica , sans-serif';
  color: #666;
}
form.appForm fieldset p.massage{
    background: green;
    color: #FFF;
    padding: 5px;
    margin: 3px 0;
    border-radius: 3px;
    font : 0.85em 'Arial , Helvetica , sans-serif';
}
form.appForm fieldset p.massage.error{
    background: #900;
    color: #FFF;
    padding: 3px;
    margin: 3px 0;
}
form.appForm label {
  font-family: Arial;
  font-size: 0.85em;
  color: #666666;
}
form.appForm table tr td input[type=text],form.appForm table tr td input[type=number]{
  width: 98%;
  padding: 2%;
  font-family: Arial;
  font-size: 0.85em;
}
form.appForm table tr td input[type=submit]{
  padding: 8px;
  border-radius: 3px;
  background: green;
  color: #FFF;
  font-family: Arial;
  font-size: 0.85em;
  cursor: pointer;
}
form.appForm table tr td {
  padding: 3px 0;
}

div.wrapper div.employees table{
    width: 780px;
    margin: 20px 20px 0 0;
    border-collapse: collapse;
}

div.wrapper div.employees table thead th{
   text-align: left;
   padding: 5px;
   border-right:solid 2px #e4e4e4 ;
   border-bottom:solid 2px #e4e4e4 ;
   font:bold 1.1em Arial , Helveticac , sans-serif;
   color: #666;
}
div.wrapper div.employees table tbody td{
    text-align: left;
    padding: 5px;
    border-bottom:solid 1px #e4e4e4 ;
    font:0.8em Arial , Helveticac , sans-serif;
    color: #666;
 }
div.wrapper div.employees table thead th:last-of-type{
    border-right: none;
}

div.wrapper div.employees table tbody tr:nth-child(2n) td{
   background: #f1f1f1;
}

div.wrapper div.employees table tbody td a:link,
div.wrapper div.employees table tbody td a:visited {
  color: red;
}